<nav>
  <div class="navbarContainer">
    <div class="navbarLogo">
      <a href="/">
        <img src="./logo.png" alt="logo" />
      </a>
      <h1>Tod</h1>
    </div>
    <div class="navbarLinks">
      <a href="https://github.com/JustTod/tod-resume" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/wat-todsaporn/" target="_blank"
        >LinkedIn</a
      >
    </div>
  </div>
</nav>

<style>
  .navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #fafafa;
    h1 {
      margin: 0;
    }
  }

  .navbarLogo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .navbarLinks {
    gap: 1rem;
    display: flex;
    align-items: center;
  }
</style>
