---
interface Props {
  title: string;
  size?: 'small' | 'medium' | 'large';
  order?: number;
}

const { title, size = 'medium', order = 0 } = Astro.props;
---

<div class="title-container">
  <h2 class={`item-list-title ${size}`}>{title}</h2>
  <div class={`item-list-underline ${size}`}>
    {
      order > 0 && (
        <div class="underline-gray" style={`width: ${order * 60}px`} />
      )
    }
    <div class="underline-highlight"></div>
    <div class="underline-gray last"></div>
  </div>
</div>

<style>
  .title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .item-list-title {
    font-weight: 700;
    color: #374151;
    margin: 0 0 1rem 0;
  }

  .item-list-title.small {
    font-size: 1.5rem;
  }

  .item-list-title.medium {
    font-size: 2.25rem;
  }

  .item-list-title.large {
    font-size: 3rem;
  }

  .item-list-underline {
    display: flex;
  }

  .item-list-underline.small {
    margin-bottom: 1rem;
  }

  .item-list-underline.medium {
    margin-bottom: 2rem;
  }

  .item-list-underline.large {
    margin-bottom: 2.5rem;
  }

  .underline-highlight {
    width: 60px;
    height: 3px;
    background-color: var(--color-primary);
  }

  .underline-gray {
    /* flex: 1; */
    height: 3px;
    background-color: #e5e7eb;
  }

  .underline-gray.last {
    flex: 1;
  }
</style>
